:root{
    /*color palette*/
    --dusty-blue:#88C1B1;
    --sage-green: #6A947D;
    --off-white: #F5FFC0;
    --slate:#181E1E;
    --also-slate:#2E4053;
    --header-size: 20px;
}

body {
background-color:var(--sage-green);
background-image: linear-gradient(
    rgba(255, 255, 255, .6) 0%,
    rgba(255, 255, 255, 0) 90%
  );
background-repeat: no-repeat;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*header settings*/
header{
    padding: 10px;
    background-color: var(--slate);
    color: var(--off-white);
    margin:0px;
}

.header-title{
   line-height: 0;
   font-size: 30px;
   margin-top: 30px;
   margin-left: 20px;
}

header nav {
    position: relative;
    line-height: 0px;
    text-align: right;
    margin-right: 10px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding-right: 5%;
    font-size: var(--header-size);
}
/*link settings*/
a {
    color: var(--off-white);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.buffer{
    margin:0;
    width: 100vw;
    height: auto;
}

/*contains bio and work*/
main {
    position:relative;
    margin-left:20%;
    margin-right:20%;
    float:right;
}

/*about me section*/
.biocard {
    background-color: var(--slate);
    color:var(--off-white);
    padding:5px;
    width: 75%;
    border-radius: 15px;
    top: 0px;
}
.bio-title {
    color:var(--off-white);
    text-align:center;
    font-size: var(--header-size);
}
.bio {
    text-align: center;
    margin:3%;
    color:var(--off-white);
}
/*profile image*/
.bio-img{
    padding:5px;
    width: 100px;
    height: 100px; 
    border-radius: 15px; 
    display:block;
    margin-left:auto;
    margin-right:auto;  
}

/*work section*/
.work {
    position:relative;
    left: 50px;
    top: 0px;
    column-count: 2;
    column-gap: 3px;
}
figure img {
    max-width: 150%;
    max-height: 150%;
    border: 5px solid var(--slate);
}
figure img:hover {
    width: 200%;
    height: 200%;
    border: 8px solid var(--slate);
}
.card {
    /*background-color: var(--slate);*/
    width: fit-content;
    height: fit-content;
    padding:8px;
    position: relative;
    top:0%;
}
.card-title{
    background-color:var(--slate);
    color: var(--off-white);
    padding: 3px;
    position:absolute;
    top:6%;
    left:4%;
}

/*contact me section*/
.contact-card {
    position: relative;
    top:31px;
    width: vw;
    border-radius: 15px;
    padding: 4px;
    text-align: center;
    background-color: var(--slate);
    color: var(--off-white);
}
/*sidebar*/
aside {
    position: absolute;
    background-color: var(--slate);
    color: var(--off-white);
    padding: 20px;
    height:142vh;
    width: 200px;
    color: var(--off-white);
    text-align: center;
    font-size: var(--header-size);
}

.about{
    position:relative; 
}
.my-work{
    position:relative;
    top: 180px;
    
}
.contact{
    position:relative;
    top: 1160px;
}

/*media query monitor: bio in aside, three columns*/
@media screen and (max-width:992px) {
    .work {
        column-count: 2;
        column-gap: normal;
        display: flex-wrap;
 
        flex: 0 0 33.333%;
        max-width: 100%;
    }
}
/*media query tablet aside none, nav sticky, bio at top, columns two*/
@media screen and (max-width: 768px) {
    .work {
        column-count: 1;
    }
}
/*media query phone: columns one*/
@media screen and (max-width: 576px) {
    aside {
        visibility: hidden;
    }
    .work {
        column-count: 1;
        min-width: 100%;
    }
}