:root{
    /*color palette*/
    --dusty-blue:#88C1B1;
    --sage-green: #6A947D;
    --off-white: #F5FFC0;
    --slate:#181E1E;
    --also-slate:#2E4053;
    --header-size: 20px;
}

body {
background-color:var(--sage-green);
background-image: linear-gradient(
    rgba(255, 255, 255, .6) 0%,
    rgba(255, 255, 255, 0) 90%
  );
background-repeat: no-repeat;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*header settings*/
header, footer {
    padding:10px;
    background-color: var(--slate);
    color: var(--off-white);
    margin:0px;
}

.header-title{
   line-height: 0;
   font-size: 30px;
   margin-top: 30px;
   margin-left: 20px;
}

header nav {
    position: relative;
    line-height: 0px;
    text-align: right;
    margin-right: 10px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding-right: 5%;
    font-size: var(--header-size);
}
/*link settings*/
a {
    color: var(--off-white);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.buffer{
    margin:0;
    width: 100vw;
    height: auto;
}

/*main CSS*/
main {
    margin-right:25%;
    float:right;
}

/*about me section*/
.biocard {
    background-color: var(--slate);
    color:var(--off-white);
    padding:5px;
    width: 70%;
    border-radius: 15px;
    float:inline-start;
    top: 0px;
    
}
.bio {
    text-align: center;
    margin: 3%;
    color:var(--off-white);
}

.bio-img{
    padding:5px;
    width: 100px;
    height: 100px; 
    border-radius: 15px; 
    display:block;
    margin-left:auto;
    margin-right:auto;  
}

/*work section*/
.work {
    column-count: 2;
    
}
figure img {
    width: 200px;
    height: 150px;
}
.card {
    background-color: var(--slate);
    width: fit-content;
    height: fit-content;
    padding:8px;
    position: relative;
    top:0%;
}
.card-title{
    color: var(--off-white);
    width: fit-content;
    padding: 3px;
}

/*sidebar*/
aside {
    background-color: var(--slate);
    padding: 20px;
    height:100vh;
    width: 200px;
}

aside ul{
    color: var(--off-white);
    text-align: center;
    font-size: var(--header-size);
    list-style-type: none;
}


/*media query monitor: bio in aside, three columns*/
@media screen and (min-width:992px) {
    main {
    background-color: var(--off-white);
    column-count: 3;
    column-gap: none;
    }
 /*   .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }*/
}
/*media query tablet aside none, nav sticky, bio at top, columns two*/
@media screen and (min-width: 768px) {

    main{
        column-count: 1;
    }
 /*   .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }*/ 
}
/*media query phone: columns one*/
@media screen and (min-width: 576px) {

    main{
        column-count: 1;
    }
}