:root{
    /*color palette*/
    --dusty-blue:#88C1B1;
    --alt-blue:#3B8484;
    --off-white: #F3FFFD;
    --slate:#181E1E;
}

body {
background-color:var(--dusty-blue);
background-image: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 60%
  );
background-repeat: no-repeat;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


/*header settings*/
header{
    padding:10px;
    border-radius: 0, 25;
    background-color: var(--slate);
    color: white;

}

header h1{
   line-height: 0;
   font-size: 25px;
}

header nav {
    position: relative;
    line-height: 0px;
    text-align: right;
    margin-right: 10px;
}
header nav ul {
    list-style-type: none;

}

header nav ul li {
    display: inline-block;
    padding-left: 5%;
}

.biocard {
    position: center;
    background-color: var(--slate);
    color:var(--off-white)
    margin: 25%;
}
.bio {
    display:inline-flex;
    color:var(--off-white)
}

aside img{
    padding:5px;
    border:5px;
    width: 100px;
    height: 100px;
}
aside section p{
    padding-left: 5px;
}
/*media query monitor: bio in aside, three columns*/
@media screen and (min-width: 992px) {
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
}
/*media query tablet aside none, nav sticky, bio at top, columns two*/
@media screen and (min-width: 768px) {
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
}
/*media query phone: columns one*/
@media screen and (min-width: 576px) {
    header {
      width: 100%;
    }
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
}